@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');
@import url("https://use.typekit.net/nfp1cpw.css");


@function textShadow($precision, $size, $color){
  $value: null; 
  $offset: 0;
  $length: $size * (1 / $precision) - 1;

  @for $i from 0 through $length {
    $offset: $offset + $precision;
    $shadow: $offset + px $offset + px $color;
    $value: append($value, $shadow, comma);
  }
  
  @return $value;
}

body {
  background: whitesmoke;
  color: black;
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.form {
  background-image: url('/form.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: auto;
  height: 430px;
  margin: 0 auto;
}

.form-two {
  background-image: url('/form-2.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: auto;
  height: 490px;
  margin: 0 auto;
}

.input {
  display: block;
  margin: 0 auto;
  box-sizing: border-box;
	border: 1px solid #C2C2C2;
	border-radius: 3px;
  padding: 10px;
  width: 70%;
	outline: none;
}

.login {
  font-family: 'termina', sans-serif;
  font-weight: bold;
  color: rgb(65, 65, 65);
  letter-spacing: 2px;
}

.form-button {
	background-color: white;
	border-radius:28px;
	border:1px solid rgb(65, 65, 65);
	display:inline-block;
	cursor:pointer;
	color:rgb(65, 65, 65);
	font-family:Arial;
	font-size:17px;
  padding: 10px 40px;
  margin: 10px auto;
	text-decoration:none;
}

.form-button:hover {
	background-color:#e2dcfe;
}

.green {
  color: green;
}

.red {
  color: red;
}

.navbar {
  z-index: 2;
}

.sidenav {
  height: 100%;
  width: 280px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: white;
  // border-right: 1px inset rgb(180, 180, 180);
  overflow-x: hidden;
  padding-top: 70px;
  padding-left: 20px;
  padding-right: 10px;
}

.sidenav a {
  padding: 8px 8px 8px 16px;
  text-decoration: none;
  font-size: 15px;
  color: black;
  display: block;
}

.sidenav a:hover {
  background-color: whitesmoke;
  border: none;
  border-radius: 4px;
}

.main {
  margin-left: 340px;
  padding: 0px 10px;
}

.projects {
  padding: 20px 5px 0px 20px;
}

.tab {
  padding-left: 20px;
  padding-top: 5px;
}

.home-link {
  color: whitesmoke;
  text-decoration: none;
  font-size: 27px;
  padding: 0;
  padding-top: 3px;
  margin: 0 5px;
}

.search-field {
  font-size: 14px;
  height: 32px;
  width: 195px;
  margin-top: 8px;
  border: none;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.35);
  color: black;
  padding-left: 10px;
}

.search-field:focus { 
  outline: none; 
}

.label {
  cursor: pointer;
}

.label-wrapper {
  display: inline;
}

#first-section {
  background: #7f69fb;
  position: relative;
  height: 750px;
}

svg {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;
}
.main-header{
  margin: 30px auto;
}

.bodymovin {
  height: 105px;
}

.header {
  margin-bottom: 40px;
  font-family: 'termina', sans-serif;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  font-size: 77px;
  font-weight: 900;
  color: #7f69fb;
  line-height: 100%;
  letter-spacing: 1px;
  -webkit-text-stroke: 2px rgb(19, 19, 19);
  text-shadow: textShadow(0.25, 6, rgb(19, 19, 19));
  transform: rotate(-4deg);
}

.todoit {
  color: lightblue;
}

.logo {
  font-family: 'termina', sans-serif;
  font-weight: 700;
  font-size: 22px;
  color: rgb(19, 19, 19);
  padding: 5px;
}

#started {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 20px;
  padding-top: 15px;
  margin-right: 10px;
  border-bottom: 5px solid lightblue;
}

#scroll {
  display: block;
  margin-bottom: 20px;
  margin-left: 40px;
  -webkit-animation: fade-in-top 1.8s ease-in-out 1s infinite both;
  animation: fade-in-top 1.8s ease-in-out 1s infinite both;
}

#scroll-text {
  font-family: 'termina', sans-serif;
  font-weight: 700;
  transform: rotate(-90deg);
  transform-origin: bottom left;
  margin-left: 50px;
  margin-bottom: 55px;
}

.dropdown:hover .dropdown_menu--animated {
  display: block;
}

.dropdown_menu--animated {
  display: none;
}

li {
  display: block;
  opacity: 1;
}

.dropdown_menu-6 {
  animation: growDown 300ms ease-in-out forwards;
  transform-origin: top center;
}

@keyframes growDown {
    0% {
        transform: scaleY(0)
    }
    80% {
        transform: scaleY(1.1)
    }
    100% {
        transform: scaleY(1)
    }
}

/* ----------------------------------------------
 * Generated by Animista on 2020-9-1 15:54:58
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation fade-in-top
 * ----------------------------------------
 */
 
 @-webkit-keyframes fade-in-top {
  0% {
      -webkit-transform: translateY(-50px);
      transform: translateY(-50px);
      opacity: 0;
  }
  100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      opacity: 1;
  }
}

@keyframes fade-in-top {
  0% {
      -webkit-transform: translateY(-50px);
      transform: translateY(-50px);
      opacity: 0;
  }
  100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      opacity: 1;
  }
}
